# Engine
BOTFATHER_TOKEN=                # Your BotFather token here
OWNER_ID=                       # Your Telegram user ID here
OPENAI_API_KEY=NONE             # Your OpenAI API key here, or set to NONE if not used
REKKU_SELENIUM_HEADLESS=1       # Set to 1 for headless mode, 0 for non-headless
WEATHER_LOCATION="Kyoto, Japan" # Default weather location, can be changed
LOGGING_LEVEL=error             # Log level: debug, info, warn, error

# Desktop
WEBVIEW_PORT=5006               # Port for the webview interface
WEBVIEW_HOST=localhost          # Host for the webview interface
PASSWORD=rekku                  # Password for Rekku user, change to something secure if needed, this is even used for webview authentication
ROOT_PASSWORD=                  # Password for the root user in the container, change this to something secure
DISPLAY_WIDTH=1280              # Width of the display in pixels
DISPLAY_HEIGHT=720              # Height of the display in pixels
PUID=1000                       # User ID for the container user, change if necessary
PGID=1000                       # Group ID for the container user, change if necessary
HOME=/home/rekku                # Home directory for the container user
CUTOM_USER=rekku                # Username for the container user, change if necessary
